/* If confirm email ever gets ngrxified, this can be removed */

.text-label {
  color: #413741;
  font-size: 14;
  letter-spacing: 0.04;
  line-height: 1.333;
}

.text-field {
  padding: 10 0;
  border-bottom-width: 2;
  border-bottom-color: #6F989E;
}

.text-field::highlighted {
  border-bottom-color: #0092A8;
}

.text-field.ng-invalid::highlighted,
.text-field--error {
  border-bottom-color: #B92855;
}
