<StackLayout class="input-field m-b-10">
    <label class="text-label" [text]="label"></label>
    <TextField
        #textFieldInput
        class="input text-field"
        [class.text-field--valid]="
            ngrxFormControl.isValid && extraValidations && !overrideValidStyling
        "
        [class.text-field--error]="
            (isFormSubmitted || showErrorBeforeSubmit) &&
            (!ngrxFormControl.isValid || !extraValidations)
        "
        [autocapitalizationType]="autocapitalizationType"
        [autocorrect]="autocorrect"
        [editable]="editable"
        [hint]="hint"
        [keyboardType]="getKeyboardType()"
        [ngrxFormControlState]="ngrxFormControl"
        [returnKeyType]="returnKeyType"
        [secure]="getSecure()"
        [attr.width]="width ? width : null"
        (focus)="focus.emit()"
        (returnPress)="returnPress.emit()"
    ></TextField>
</StackLayout>
